<p id="notice"><%= notice %></p>

<p>
  <strong>Heure:</strong>
  <%= @seance.heure %>
</p>

<p>
  <strong>Film:</strong>
  <%= @seance.film_id %>
</p>

<p>
  <strong>Cinema:</strong>
  <%= @seance.cinema_id %>
</p>


<%= if params[:cinema_id] 
  		link_to 'Edit', edit_cinema_seance_path(@cinema, @seance)
  		link_to 'Back', cinema_seances_path(@cinema)
 	elsif params[:film_id] 
 		link_to 'Edit', edit_film_seance_path(@film, @seance)
 		link_to 'Back', film_seances_path(@film)
   		
 end %>
