<%- model_class = Cinema -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:ville) %></th>
      <th><%= model_class.human_attribute_name(:adresse) %></th>
      <th><%= model_class.human_attribute_name(:seancehoraire) %></th>
    </tr>
  </thead>
  <tbody>
    <% @cinemas.each do |cinema| %>
      <tr>
        <td><%= link_to cinema.id, cinema_path(cinema) %></td>
        <td><%= cinema.ville %></td>
        <td><iframe src="<%=cinema.adresse%>" width="600" height="90" frameborder="0" style="border:0"></iframe></td>
        <td><%= cinema.seancehoraire %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_cinema_path(cinema), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      cinema_path(cinema),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_cinema_path,
            :class => 'btn btn-primary' %>
